@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #707be6c0;
}

header {
    text-align: center;
    margin-bottom: 10px;
}

h2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

/* Efeito hover nos cards */
.card-hover:hover {
    transform: scale(1.03);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

/* Footer */
footer {
    margin-top: 50px;
    text-align: center;
}

footer img {
    width: 100px;
}

footer small {
    display: block;
}

.rodape{
    background-color: rgb(85, 85, 175);
}